<toaster-container toaster-options="{'position-class': 'toast-top-left'}"></toaster-container>
<fieldset class="infoUsers">
	<legend>Delete User</legend>
	<form name="formDeleteUser">
		<div class="form-group">
	      <label for="exampleInput">User ID</label>
	      <input type="number" class="form-control" id="exampleInput" placeholder="User ID" ng-enter="vm.searchUser()" ng-model="vm.userId" required>
	      <br>
	      <button type="button" class="btn btn-primary" ng-click="vm.searchUser()">Search</button>
	    </div>
	</form>
</fieldset>
<div class="table-responsive infoUsers">
	<table class="table">
	    <thead>
	      <tr>
	        <th>
	          ID
	        </th>
	        <th>
	          Name
	        </th>
	        <th>
	          Surname
	        </th>
	        <th>
	          Age
	        </th>
	        <th>
	          Email  
	        </th>
	        <th>
	        	Delete
	        </th>
	      </tr>  
	    </thead>  
	    <tbody>
	      <tr>
	        <td>{{vm.rootDeleteUserObj.id}}</td>
	        <td>{{vm.rootDeleteUserObj.name}}</td>
	        <td>{{vm.rootDeleteUserObj.surname}}</td>
	        <td>{{vm.rootDeleteUserObj.age}}</td>
	        <td>{{vm.rootDeleteUserObj.email}}</td>
	        <td>
	        	<a ng-click="vm.detailPerson(vm.rootDeleteUserObj)" class="btn btn-danger">X</a>
	        </td>
	      </tr>  
	    </tbody>
  	</table>
</div>