<div id="delete">
	<div class="alert alert-danger" role="alert">
		<p>
			<strong>Id:</strong> {{vm.deleteUsersform.id}}
		</p>
		<p>
			<strong>Name:</strong> {{vm.deleteUsersform.name}}
		</p>
		<p>
			<strong>Surname:</strong> {{vm.deleteUsersform.surname}}
		</p>
		<p>
			<strong>Age:</strong> {{vm.deleteUsersform.age}}
		</p>
		<p>
			<strong>Email:</strong> {{vm.deleteUsersform.email}}
		</p>

		<p>
			¿Are you sure that you wanna delete to <strong>{{vm.deleteUsersform.name}} {{vm.deleteUsersform.surname}}</strong>?
		</p>

		<br>
		
		<button class="btn btn-primary" ng-click="vm.deleteConfirm(vm.deleteUsersform.id)">Delete</button>
		<a href="#/delete" class="btn btn-default">Cancel</a>
	</div>
</div>