<toaster-container toaster-options="{'position-class': 'toast-top-left'}"></toaster-container>
<div class="modal-header" id="modalForm">
	<button type="button" class="close" ng-click="vm.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 align="center">Delete User</h3>
</div>
<div class="modal-body">
	<div class="embed-responsive embed-responsive-16by9">
    	<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/FET__7Z89qY">Page not found</iframe>
    </div> 
    <div align="center">
    	<p><strong>ID:</strong> {{vm.user.id}}</p>
		<p><strong>Name:</strong> {{vm.user.name}}</p>
		<p><strong>Surname:</strong> {{vm.user.surname}}</p>
		<p><strong>Age:</strong> {{vm.user.age}}</p>
		<p><strong>Email:</strong> {{vm.user.email}}</p>
    </div>
    <br>
	<h3 align="center">¿Do you want to delete the user: {{vm.user.name}} {{vm.user.surname}}?</h3>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="vm.deleteConfirm(vm.user.id)">Delete</button>
	<button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
</div>